@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button{
  @apply appearance-none m-0;
}
.no-spinner{
  appearance: textfield;
}
